# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
*.manifest
*.spec

# Virtual Environments
.env
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# FastAPI/Starlette
instance/
*.db
*.sqlite3

# Pytest / Coverage
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Logs
*.log
*.pot
*.mo

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# IDEs / Editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS-specific
.DS_Store
Thumbs.db

# Docker
*.pid
*.seed
*.pid.lock

# Local environment variables
*.env.local
.env.test
.env.development
.env.production

# Build
build/
dist/
pip-wheel-metadata/
